body {
  margin: 0px;
  color: white;
  font-family: "Comfortaa", cursive;
  background-color: black;
}

.header {
  position: absolute;
  bottom: 45vh;
  border-bottom: solid white 2px;
  border-radius: 15%;
  padding: 10px 50px 10px 50px;
  font-size: 4em;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#menu-items {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
  bottom: 42vh;
  width: 50%;
  z-index: 2;
}

.menu-item {
  color: white;
  display: block;
  font-size: 2.5em;
  text-decoration: none;
  opacity: 1;
  transition: opacity 300ms ease, font-size 300ms ease;
}

#menu-background-pattern {
  height: 100vh;
  width: 100vw;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );

  background-position: 0% 0%;
  background-size: 10vmin 10vmin;

  position: absolute;

  left: 0px;
  top: 0px;

  z-index: 1;

  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
}
