body {
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: minmax(150px, auto);
  gap: 30px;

  height: 100vh;
}

.grid-item-1 {
  grid-column: span 3;
  justify-self: stretch;
  align-self: end;
}

.grid-item {
  color: white;
  background-color: blue;
  border: 3px solid yellow;
}
